{% extends 'base.html' %}
{% block content %}
<style>
    .center_XY {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .left-bottom_align {
        margin-right: 100%;
        position: fixed;
        bottom: 10px;
        left: 10px;
    }
    .right-bottom_align {
        margin-left: 100%;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
</style>
<div class="center_XY" id="center">
    <a class="btn btn-primary" onclick="install()" id="install_button" role="button">Install</a>
</div>
<div class="right-bottom_align" id="rightbottom">
    <a class="btn btn-primary disabled" href="/close" role="button" aria-disabled="true">Finish</a>
</div>
<div class="left-bottom_align" id="leftbottom">
    <a class="btn btn-primary" role="button" href="/phase2">Back</a>
</div>

<script>
    function install () {
        doc = document.getElementById("center")
        doc.innerHTML = `
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>`
        doc = document.getElementById("leftbottom")
        doc.innerHTML = `
        <a class="btn btn-primary disabled" role="button" href="/phase2" aria-disabled="true">Back</a>
        `
        let xhr = new XMLHttpRequest();
        xhr.open('GET', "http://localhost:34620/install", true);
        xhr.send();

        xhr.onreadystatechange = processRequest;

        function processRequest(e) {
            if (xhr.readyState == 4) {
                doc = document.getElementById("center")
                doc.innerHTML = `
                <p>Installation complete</p>
                `;
                doc = document.getElementById("rightbottom")
                doc.innerHTML = `
                <a class="btn btn-primary" href="/close" role="button">Finish</a>
                `
            }
        }
        
    }
</script>
{% endblock %}